# For projects which use zkx as part of a Bazel build process, putting
# nothing in a bazelrc will default to a monolithic build. The following line
# opts in to modular op registration support by default.
build -c opt

# Make Bazel print out all options from rc files.
build --announce_rc

# Enable platform specific configurations by default depending on host machine.
common --enable_platform_specific_config

build:macos_x86_64 --config=macos
build:macos_x86_64 --cpu=darwin_x86_64
build:macos_x86_64 --host_cpu=darwin_x86_64
build:macos_arm64 --config=macos
build:macos_arm64 --cpu=darwin_arm64
build:macos_arm64 --host_cpu=darwin_arm64

# Fastbuild config
build:fastbuild -c fastbuild

# Debug config
build:dbg -c dbg

# Opt config
build:opt -c opt

# By default, build zkx in C++ 17 mode.
build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17
build:macos --cxxopt=-std=c++17
build:macos --host_cxxopt=-std=c++17
build:macos --objccopt=-std=c++17
build:windows --cxxopt=/std:c++17
build:windows --host_cxxopt=/std:c++17

# Instruction set optimizations
build:avx_linux --copt=-mavx
build:avx2_linux --copt=-mavx2
build:avx512_linux --copt=-mavx512f
build:avx_windows --copt=/arch=AVX
build:avx2_windows --copt=/arch=AVX2
build:avx512_windows --copt=/arch=AVX512

# Compile for the native architecture
# WARN(batzor): this will make the build non-portable
build:native --copt=-march=native

# NOTE(chokobole): `CliqueKey` depends on `std::type_index()`.
build --//:has_rtti

# NOTE(chokobole): pjrt needs exception.
build --//:has_exception

# Load rc file with user-specific options.
try-import %workspace%/.bazelrc.user
